@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
@inject IViewLocalizer Localizer
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CourseProj</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<body>
<header>
        <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center w-100">
                    <div class="d-flex align-items-center mb-2 mb-sm-0">
                        <button class="btn btn-outline-secondary me-2" id="theme-toggle">
                            <i class="bi bi-moon" id="theme-icon"></i>
                        </button>
                        <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" method="post" class="me-2">
                            <input class="hidden" name="returnUrl" value="@Context.Request.Path" />
                            <select name="culture" class="form-select" onchange="this.form.submit();">
                                <option value="en-US">English</option>
                                <option value="ru-RU">Русский</option>
                            </select>
                        </form>
                    </div>

                    <a class="navbar-brand mx-auto" asp-area="" asp-controller="Home" asp-action="Index">CourseProj</a>

                    <div class="d-flex align-items-center mb-2 mb-sm-0">
                        <!-- Форма поиска -->
                        <form class="d-flex me-2" method="get" asp-controller="SearchList" asp-action="Index" style="flex: 1;">
                            <input class="form-control me-2" type="search" name="query" placeholder="@Localizer["SearchPlace"]" aria-label="@Localizer["SearchPlace"]">
                            <button class="btn btn-outline-success search-button" type="submit">
                                <i class="bi bi-search search-icon"></i>
                            </button>
                        </form>

                        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <partial name="_LoginPartial"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<script src="~/node_modules/markdown/lib/markdown.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/databaseUpdates.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
