@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer Localizer
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-controller="User" asp-action="Index" >@Localizer["UsersLink"]</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">@User.Identity?.Name!</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt" style="color: var(--text-color)"></i></a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">@Localizer["RegisterLink"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-controller="Account" asp-action="Login">@Localizer["LoginLink"]</a>
        </li>
    }
</ul>